<%layout('/layouts/boilerplate.ejs')-%>
<body>

    <div class="nwform">
       
        <div class="col-8 offset-2">
             <H3>Edit Your Listing</H3>
   <form class="row g-0.5 needs-validation" novalidate method="post" action="/wanderlust/edit/confirmEdit">
  <div class="col-md-12">
    <input type="hidden" name="_id" value="<%=data._id%>">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" value="<%=data.title%>"  name="title" id="title">
    <div class="invalid-feedback">
      Please provide a valid Title.
    </div>
     <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-12">
    <label for="description" class="form-label">Description</label>
    <textarea type="text" class="form-control"  name="description" id="description" required><%=data.description%></textarea>
       <div class="invalid-feedback">
      Please provide a valid Description.
    </div>
     <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-12">
    <label for="image" class="form-label">Image</label>
    <input type="text" class="form-control" name="image" id="image" value="<%=data.image%>" required>
  </div>
  <div class="col-md-6">
    <label for="price" class="form-label"> Price</label>
    <input type="text" class="form-control" name="price" id="price" value="<%=data.price%>"required>
        <div class="invalid-feedback">
      Please add a price.
    </div>
     <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-6">
    <label for="location" class="form-label">Location</label>
    <input type="text" class="form-control" name="location" value="<%=data.location%>" id="location" required>
      <div class="invalid-feedback">
      Please provide a valid location.
    </div>
     <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-12">
    <label for="country" class="form-label">Country</label>
    <input type="text" class="form-control"name="country" value="<%=data.country%>" id="country" required>
     <div class="invalid-feedback">
      Please provide a valid Country.
    </div>
     <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div style="margin-top: 10px;" class="col-3">
    <button type="submit" class="btn btn-primary addbtn">Submit</button>
  </div>
</form>
 </div>
</div>
</body>
